.login-form {
    margin: 3em auto;
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.25);
}

$scoreRed: #F44336;
$scoreYellow: #FFEB3B;
$scoreGreen: #4CAF50;

.password {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    color: #727272;
}

.password-stregth {
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -8px;
    left: 0;
    background: transparent;
    transition: all 300ms ease-in-out;

    &[data-score="null"] {
        width: 0;
        background: red;
    }

    &[data-score="0"] {
        width: 5%;
        background: $scoreRed;
    }
    &[data-score="1"] {
        width: 25%;
        background: $scoreRed;
    }
    &[data-score="2"] {
        width: 50%;
        background: $scoreYellow;
    }
    &[data-score="3"] {
        width: 75%;
        background: $scoreGreen;
    }
    &[data-score="4"] {
        width: 100%;
        background: $scoreGreen;
    }
}

.password-show {
    cursor: pointer;;
    position: absolute;
    bottom: 11px;
    height: 16px;
    right: 0px;
    background: #727272;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.8em;
}