@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($color: $bg, $amount: 10%);
        transition: all 0.2s ease;
    }
    &:active {
        background: darken($color:$bg, $amount: 25%);
    }
}
.btn {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    min-height: 3em;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
}

.btn-green {
    @include button-bg(#2ecc71);
}
.btn-blue {
    @include button-bg(#3498db);
}
.btn-red {
    @include button-bg(#e74c3c)

}