$accent: #00BCD4;
.label {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    color: #727272;
}
.input {
    display: block;
    text-transform: none;
    width: 100%;
    height: 42px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #b6b6b6;
    font-weight: 400;
    color: #212121;

    &:focus, &:active {
        border-color: $accent;
        outline: 0;
    }
}